 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 40px;
            color: #333;
            background-image: url('tortue.webp');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            
            
        }
        h1 {
            color: #0a467f;
            position: relative;
            text-align: center;
        }
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            width: 300px;
        }
        label {
            margin-top: 10px;
            display: block;
            color: #555;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="button"] {
            background-color: #0a467f;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        input[type="button"]:hover {
            background-color: #083a66;
        }
        #ingredientsList {
            margin-top: 20px;
        }
        .ingredient-item {
            background: #e0e0e0;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
        }